{
    admin off
    persist_config off
    auto_https off
}

:{$PORT:8080} {
    root * /srv
    encode gzip
    header Cross-Origin-Opener-Policy "same-origin-allow-popups"

    @health path /health
    respond @health "OK" 200

    # CAM API
    handle_path /api/cam/* {
        reverse_proxy {$CAM_UPSTREAM_BASE_URL}
    }

    handle {
        try_files {path} /index.html
        file_server
    }
}
