.layout {
    height: 100vh;
    overflow: hidden;
    background: #fff;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.body {
    min-height: 0;
}

.sider {
    background: #fff;
    border-right: 1px solid #e5e6eb;
}

.content {
    min-height: 0;
    overflow: auto;
    padding: 0 30px;
    background: #fff;
}

.footer {
    z-index: 1000;
    background: #fff;
    box-shadow: 0 -2px 4px rgb(0 0 0 / 5%);
}

