.layout {
    height: 100vh;
    overflow: hidden;
    background: var(--color-bg-3);
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.body {
    min-height: 0;
}

.sider {
    background-color: inherit;
    border-right: 1px solid var(--color-neutral-3);
    box-shadow: none;
}

.content {
    min-height: 0;
    overflow: auto;
    padding: 0 30px;
    background: var(--color-bg-3);
}

.embeddedContent {
    overflow: hidden;
    padding: 0;
}

.footer {
    z-index: 1000;
    box-shadow: 0 -2px 4px rgba(var(--gray-10), 0.05);
}
