.menu {
    padding-top: 16px;
    border-right: 0;
}

.icon {
    width: 18px;
    height: 18px;
}

.productIcon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-left: 1px;
    object-fit: contain;
}
