.menu {
    padding-top: 16px;
    border-right: 0;
    background-color: transparent !important;
}

.menu :global(.arco-menu-item:not(:hover):not(:active):not(.arco-menu-selected)) {
    background-color: transparent !important;
}

.icon {
    width: 18px;
    height: 18px;
}

.productIcon {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    margin-left: 1px;
    object-fit: contain;
}
