.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    color: var(--color-text-3);
    font-size: 14px;
}

.footer a {
    margin-left: 4px;
    color: rgb(var(--link-6));
    text-decoration: underline;
}
