#root {
    height: 100vh;
    min-width: 1200px;
    width: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    overscroll-behavior: none;
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--color-neutral-4, #c9cdd4);
}

